# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.pytest_cache/
htmlcov/
.DS_Store # Для macOS

# Django
*.log
*.sqlite3
db.sqlite3 # Ваш файл базы данных SQLite
media/     # Директория для загруженных пользователем медиа-файлов
static/    # Если вы собираете статику в корне проекта

# IDE (Integrated Development Environment)
.IDEA/
.vscode/
.nyc_output/
.npm/
.yarn-cache/
.eslintcache